.MainNav{
    display: flex;
    justify-content: space-between;
}
.MainNav div{
    width: 45%;
    margin-bottom: 20px;
}
.MainNav a{
    display: block;
    padding: 20px 0;
    text-align: center;
    background-color: #29404E;
    color: white;
    border-radius: 15px;
    width:  100%;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid #29404E;
    transition: all 0.2s ease-in;
}
.MainNav img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.MainNav span{
    display: block;
}
.Active{
    color: #02F7FB !important;
    border: 2px solid #02F7FB !important;
}
.MainNav a:hover{
    background:#334a58;
    box-shadow: rgba(0,0,0,0.2) 0 3px 10px;
}

.ScheduleButton a{
    display: block;
    padding: 20px 0;
    text-align: center;
    background: #FFD257;
    font-family: "Baskerville";
    color: #504320;
    text-decoration: none;
    text-transform: uppercase;
}
