.Footer{
    position: absolute;
    padding: 1rem;
    margin-top: 2rem;
    box-sizing: border-box;
    text-align: right;
    right: 1rem;
    top: 1rem
}
@media screen and (max-width: 768px){
    .Footer{
        margin-top: 0rem;
    }
}
.Footer svg{
    fill: white;
}